commands:
  01_limits:
    command: echo -e "#commands\nroot soft nofile 65536\nroot hard nofile 65536\n* soft nofile 65536\n* hard nofile 65536" >> /etc/security/limits.conf

  02_ulimit_docker:
    command: echo -e "ulimit -n 65536\n" >> /etc/sysconfig/docker

  03_ulimit_nginx:
    command: echo -e "ulimit -n 65536\n" >> /etc/sysconfig/nginx

  04_sysctl_docker:
    command: sysctl -w fs.file-max=64000

  05_restart_docker:
    command: service docker stop && ulimit -a 65536 && service docker start
